<%= render 'layouts/navbar' %>
<div class="row">
  <div class="container-fluid">
    <div class="col-md-4">
      <div class="side-bar">
        <div class="container login col-md-offset-1">
          <h2 class="input-title">Log In</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email, input_html: {class: 'input-wrapper'}, label_html: {class: 'input-email'} %>
          <%= f.input :password, input_html: {class: 'input-wrapper'}, label_html: {class: 'input-password'} %>
          <%= f.button :submit, "Log In", class: 'login-btn' %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/post' %>
  </div>
</div>
