<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="container-fluid">
          <%= render 'layouts/sidebar' %>
      <div class="col-md-8">
        <div class="post-section">
          <div class="row">
              <%= simple_form_for @post do |f| %>
                    <%= f.input :title, input_html: {class: 'new-title'}, placeholder: 'Title', label: false %>
                    <%= f.input :content, input_html: { class: 'new-post', :rows => 10}, placeholder: 'Type your blog here', label: false %>
                    <%= f.button :submit, class: 'new-btn'%>
              <% end %>
          </div>
          <% @posts.each do |p| %>
          <div class="row">
              <div class="post">
                <div class="text-wrapper">
                  <h1><%= p.title %></h1>
                  <h4>By <%=user_handler(post: p)%></h4>
                  <p><%= p.content %></p>
                </div>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
