<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-brand navbar-brand-centered">
    <%= link_to "Medium", root_path, class: 'logo' %>
  </div>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-brand-centered">
  <!--
  <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control new-story" placeholder="Find a blog" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
</div>
-->
  <ul class="nav navbar-nav navbar-right">
      <li><%=link_to "Write a story", new_post_path, class: "new-story" %></li>
      <% if user_signed_in? %>
      <li><%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
      <% else %>
      <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
      <li><%= link_to "Log in", new_user_session_path, class: "nav-link" %></li>
      <% end %>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
