<%= render 'layouts/navbar' %>
<div class="row">
  <div class="container-fluid">
    <div class="col-md-4">
      <div class="side-bar">
        <div class="container login col-md-offset-1">
          <h2 class="input-title">Edit profile</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.input :full_name, input_html: {class: 'input-wrapper'}, label_html: {class: 'input-fullname'}, required: true %>
          <%= f.input :password_confirmation, input_html: {class: 'input-wrapper'}, label_html: {class: 'input-password-confirm'} %>
          <%= f.input :current_password, input_html: {class: 'input-wrapper'}, label_html: {class: 'input-password-current'} %>
          <%= f.button :submit, class: 'edit-btn' %>
          <% end %>
          <div class="edit-links">
            <p>Unhappy? <%= link_to 'Cancel my account', registration_path(resource_name), data: {confirm: 'Are you sure'}, method: :delete %></p>
            <p><%= link_to "Back", :back %></p>
          </div>

        </div>
      </div>
    </div>
    <%= render 'layouts/post' %>
  </div>
</div>
